<a href="https://colab.research.google.com/github/VoPhuongAnh/VoPhuongAnh-Session-3.2-SQL-Filtering-sorting-grouping/blob/main/Movies_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ðŸ› ï¸ Installing libs into environment

> âš ï¸ You need to execute this code before running tasks

In [ ]:
%%capture
!pip install mysql-connector-python

import numpy as np
import mysql.connector
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# CONNECTING TO THE DATABASE SERVER
conn = mysql.connector.connect(user='marshmallow', password='N3unkNbXQYh33og', host='112.213.86.31', port='3360', database='examples')

---

## **ðŸ“œ Prerequisites**


1.   If you need to debug your SQL, you can use SQL console following [**this link**](https://api.swisscoding.edu.vn/sqlexec/?database=examples&standalone=true)
2.   To solve a task, just enter an SQL query into code like this: ![Screenshot_5.png]()

## ðŸ“Œ Task 1: Check the data distribution

Let's start by checking the distribution of our data. ðŸ•µ

We will draw histograms using Python libraries, but we need your help to get the necessary data from the database server!!

---

> **ðŸš© Task**: Enter a query that retrieves **all data** from table `movies` into the code below

> ðŸ”Ž [**Expected result**](https://drive.google.com/file/d/18wNHexai-qZs1U5TqeGEXfwxIr9gRGu1/view?usp=drive_link)

---

In [ ]:
query = """
  -- ENTER A QUERY HERE
"""


# ============================================================================================================================
#  Visualizing
# ============================================================================================================================
df = pd.read_sql(query, conn)
df = df.drop('id', axis=1)
df['Release_Date'] = pd.to_datetime(df['Release_Date'], format='%Y-%m-%d')
df.hist(color='#9dc098',alpha=.9)
plt.tight_layout()
plt.show()
# ============================================================================================================================

---

## ðŸ“Œ Task 2: Retrieve 3 rows to take a look

Great result!!! ðŸŽ‰

Now, before building any other chart, we would like to understand what data is in the table and how it is stored there.

Help us build a query to get the first 3 rows from the movies table, and we will output them and study together how this table is structured in the database.

---

> **ðŸš© Task**: Enter a query that retrieves **the first 3 rows** from the table `movies`

> ðŸ”Ž [**Expected result**](https://drive.google.com/file/d/1-71gpUhAKKTLt25K_Ia5MVIqqI_azRHn/view?usp=drive_link)

---

In [ ]:
query = """
  -- ENTER A QUERY HERE
"""


# ============================================================================================================================
#  Showing the result table
# ============================================================================================================================
df = pd.read_sql(query, conn)
display(df)
# ============================================================================================================================

## ðŸ“Œ Task 3: Top 20 movies

Okay, clear. ðŸ¤”

What could we do as the next step... Ah!

It seems to be interesting to find out what are the TOP 20 movies by their popularity. Help us to get the necessary data.

---

> **ðŸš© Task**: Write a query that retrieves **the 20 most popular movies** from the table `movies`

> ðŸ”Ž [**Expected result**](https://drive.google.com/file/d/1NzclGi6zUbEG-06qnPyU5pu8EJi3dLRr/view?usp=drive_link)

---

In [ ]:
query = """
  -- ENTER A QUERY HERE
"""


# ============================================================================================================================
#  Visualizing
# ============================================================================================================================
df = pd.read_sql(query, conn)
fig, ax = plt.subplots(figsize = (10,4))
sns.barplot(x = 'Title', y = 'Popularity', palette='crest',data = df)
plt.title('Top 20 popular movies', fontsize = 15)
plt.xticks(rotation = 90, fontsize = 10)
plt.show()
# ============================================================================================================================

## ðŸ“Œ Task 4: TOP 5 years by productivity

Cool! Now I have a list of movies that I definitely need to watch soon. ðŸ¿ðŸŽ¬ðŸ¬

By the way, I haven't seen most of them yet, what about you?

It's amazing how many new movies have been released in recent years! I wonder if they used to make so many movies in previous years too? Let's see how many movies were made each year, it would be really interesting to find out!

---

> **ðŸš© Task**: Write a query that retrieves a **number of movies released by year**.

> âš ï¸ Please ensure that the resulting columns maintain precise names: `'Year'` for columns holding years and `'Number of movies released'` for the count of movies. The **letter case matters**.

> ðŸ”Ž [**Expected result**](https://drive.google.com/file/d/1Y8DhJt4JXqulGqpRQULf5YNFk54VxYbV/view?usp=drive_link)

---

In [ ]:
query = """
  -- ENTER A QUERY HERE
"""


# ============================================================================================================================
#  Visualizing
# ============================================================================================================================
df = pd.read_sql(query, conn).sort_values(by = 'Number of movies released', ascending = False).head(5)
fig, ax = plt.subplots(figsize = (10,4))
sns.barplot(x = 'Year', y = 'Number of movies released', palette='crest',data = df, order=df.sort_values(by = 'Number of movies released', ascending = False).Year)
plt.title('TOP 5 years by productivity', fontsize = 15)
plt.xticks(rotation = 90, fontsize = 10)
plt.show()
# ============================================================================================================================

## ðŸ“Œ Task 5: TOP 5 genres by movies number

By the way, what's your favorite genre? I enjoy Action and Fantasy. ðŸ¤©

I wonder which genres are the most common? It's great that you know SQL and I can plot chart in Python, let's check it out now.

---

> **ðŸš© Task**: Write a query that retrieves a **number of movies by genre**.

> âš ï¸ Please ensure that the resulting columns maintain precise names: `'Genre'` for columns holding genres and `'Number of movies'` for the count of movies. The **letter case matters**.

> ðŸ”Ž [**Expected result**](https://drive.google.com/file/d/1e8ypfzT9Gh-52cR_Vr-MtOvIa2pNAoRn/view?usp=drive_link)
---

In [ ]:
query = """
  -- ENTER A QUERY HERE
"""


# ============================================================================================================================
#  Visualizing
# ============================================================================================================================
df = pd.read_sql(query, conn).sort_values(by = 'Number of movies', ascending = False).head(5)
fig, ax = plt.subplots(figsize = (10,4))
sns.barplot(x = 'Genre', y = 'Number of movies', palette='crest',data = df, order=df.sort_values(by = 'Number of movies', ascending = False).Genre)
plt.title('TOP 5 genres by movies number', fontsize = 15)
plt.xticks(rotation = 90, fontsize = 10)
plt.show()
# ============================================================================================================================

## ðŸ“Œ Task 6: Popularity simple descriptive statistics


By the way, I didn't notice it immediately, but the "Popularity" column seems very interesting. ðŸ§

I'm not entirely sure what it contains, or rather, how this metric was calculated. Let's check what the maximum, minimum, and average values are there.

---

> **ðŸš© Task**: Write a query that retrieves **maximum**, **minimum** and **average** popularity from the table `movies` and **rounds the obtained values to 1 decimal place**.

> ðŸ’¡ **Tip**: If you have no idea how to round a value to 1 decimal place, follow this link: [https://www.w3schools.com/sql/func_mysql_round.asp](https://www.w3schools.com/sql/func_mysql_round.asp)

> âš ï¸ Please ensure that the resulting columns maintain precise names: `'Maximum'`, `'Minimum'` and `'Average'`. The **letter case matters**.

> ðŸ”Ž [**Expected result**](https://drive.google.com/file/d/1-uQC19ml0cHo8sY9dTrkAXtMW4QydalY/view?usp=drive_link)
---

In [ ]:
query = """
  -- ENTER A QUERY HERE
"""


# ============================================================================================================================
#  Showing the table
# ============================================================================================================================
df = pd.read_sql(query, conn)
df_to_vis = pd.DataFrame.from_dict({
    'Metric': ['Maximum', 'Minimum', 'Average'],
    'Value': [df['Maximum'][0], df['Minimum'][0], df['Average'][0]],
})
display(df_to_vis)
# ============================================================================================================================

## ðŸ“Œ Task 7: Vote average distribution

It looks strange! Apparently, a large portion of the values are significantly less than `1000`, since the average value is `286.1`.

Anyway, there's a more understandable column, `"Vote_average"`. Let's try to find out how the data is distributed in it.

Let's divide all `"Vote_average"` values into the following **3 groups**:


*   **Low**: values that are less than 6
*   **Medium**: values that are between 6 and 7 including
*   **High**: Values that are greater than 7

Please, help me writing a SQL query to get a `title` and group by `Vote_average` for all the movies stored in the `movies` table.

---

> **ðŸš© Task**: Write a query that **retrieves the following data about each movie**: `title`, `Vote group` (one of the following: `'Low'`, `'Medium'` or `'High'`)

> âš ï¸ Please ensure that the column resulting from grouping by `'Vote_average'` is precisely named `'Vote group'`. The **case of the letters matters**.


> ðŸ”Ž [**Expected result**](https://drive.google.com/file/d/1UMxOa_voORUzF67ts3AVvgrquvYvFG17/view?usp=drive_link)
---

In [ ]:
query = """
  -- ENTER A QUERY HERE
"""


# ============================================================================================================================
#  Showing the table
# ============================================================================================================================
df = pd.read_sql(query, conn)
groups = df['Vote Group'].value_counts().to_dict()
# print(groups.to_dict())

df_to_vis = pd.DataFrame.from_dict({
    'Group': ['Low', 'Medium', 'High'],
    'Count': [groups['Low'], groups['Medium'], groups['High']],
})
df_to_vis
fig, ax = plt.subplots(figsize = (10,4))
sns.barplot(x = 'Group', y = 'Count', palette='crest', data = df_to_vis)
plt.title('Vote groups distribution', fontsize = 15)
plt.xticks(rotation = 90, fontsize = 10)
plt.show()
# ============================================================================================================================